body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
    color: #fff;
    position: relative;
    padding-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
}

/*Navbar*/
#navbar-container {
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 0 0 18px;
}

.nav-link {
    font-weight: 100;
    font-size: 1.2rem;
}
/*Navbar end*/
.form {
    margin: 35px auto;
}

h1 {
    text-align: center;
    margin: 35px 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    font-style: italic;
    color: rgb(80, 80, 80);
}

.data {
    /*margin: 5px;*/
}

.label_name {
    display: block;
    margin: 20px 0 7px 0;
    font-weight: 600;
    font-size: 17px;
}

.input_field {
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    margin-bottom: 15px;
    width: 75%;
}

.input_radio {
    display: none;
}

.input_radio + label {
    padding: 0.5em;
    background-color: white;
    border: 1px solid #DDDDDD;
    border-radius: 7px;
    transition: all 0.1s ease-in-out;
}

.input_radio:checked + label {
    background-color: lightgray;
    border-radius: 7px;
}

#birthday {
    width: 30%;
    text-align: center;
    font-size: 17px;
}

.input_file {
    margin-bottom: 15px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    padding: 0.5em;
    background-color: white;
    border: 1px solid #DDDDDD;
    border-radius: 7px;
    transition: all 0.2s ease-in-out;
    margin: 5px 5px 5px 0;
}

input[type="checkbox"]:checked + label {
    background-color: lightgray;
    border-radius: 7px;
}

.continue_button {
    width: 150px;
    color: white;
    border-radius: 15px;
    border: none;
    background-image: linear-gradient(to right, #ff4c68, #FF6D28);
    margin: 20px auto;
    padding: 10px;
    display: block;
}

/* FOOTER SECTION */
#footer {
    text-align: center;
    padding: 6%;
    background-color: #ff4c68;
}

.footer_text {
    color: white;
}

.icon-footer {
    padding: 1% 1% 2%;
    color: white;
}